/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #80C4E9;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #003161;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Content Cards */
  .content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #C9E6F0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.5em;
    color: #333;
  }
  